In [2]:
import pandas as pd

In [3]:
centralTax = pd.read_csv('Data/TABLE_I1_09072023005918065.csv')

In [7]:
centralTax = centralTax.drop(['COU', 'CENTGOV_RATES', 'YEA',
       'Unit Code', 'PowerCode Code', 'PowerCode',
       'Reference Period Code', 'Flag Codes',
       'Flags'], axis =1)

In [8]:
centralTax

,Country,Central government personal income tax rates and thresholds,Year,Unit,Reference Period,Value
0,Belgium,Personal allowance,2000,NaN,NaN,5206.00
1,Belgium,Personal allowance,2001,NaN,NaN,5350.00
2,Belgium,Personal allowance,2002,NaN,NaN,5480.00
3,Belgium,Personal allowance,2003,NaN,NaN,5570.00
4,Belgium,Personal allowance,2004,NaN,NaN,5660.00
...,...,...,...,...,...,...
8158,Portugal,08 Threshold,2022,NaN,NaN,75009.00
8159,Norway,06 Marginal rate,2022,NaN,NaN,26.05
8160,Portugal,09 Marginal rate,2022,NaN,NaN,48.00
8161,Greece,Tax credit,2022,NaN,NaN,777.00
8162,Norway,05 Threshold,2022,NaN,NaN,2000000.00

array(['National currency', 'Percentage'], dtype=object)

In [11]:
import sqlalchemy

In [13]:
engine  = sqlalchemy.create_engine('postgresql://postgres:B3p1s0k.@localhost:5432/mydb')

In [14]:
centralTax.to_sql('central_tax', engine, if_exists= 'replace', index = False)

163