In [1]:
import pandas as pd

In [6]:
Rent = pd.read_excel('Data/statistic_id275372_average-local-rent-in-cities-worldwide-2018.xlsx', sheet_name= 1)

In [9]:
Rent = Rent.drop(range(4))

In [11]:
Rent = Rent.drop(['Unnamed: 0'], axis =1)

In [13]:
Rent.columns = ['city', 'rent']

In [14]:
Rent

            city     rent
4      Hong Kong  3946.86
5       New York  3833.66
6          Paris  2853.50
7          Dubai  2653.56
8         London  2547.79
..           ...      ...
76     Bucharest   530.68
77         Sofia   521.38
78  Kuala Lumpur   449.61
79         Cairo   403.28
80         Lagos   261.18

[77 rows x 2 columns]

In [15]:
import sqlalchemy

In [16]:
from sqlalchemy import engine

In [17]:
engine  = sqlalchemy.create_engine('postgresql://postgres:B3p1s0k.@localhost:5432/mydb')

In [18]:
Rent.to_sql('city_rent', engine, if_exists= 'replace', index = False)

77