In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [49]:
engine = create_engine('postgresql://postgres:B3p1s0k.@localhost:5432/mydb')

In [50]:
central_tax = pd.read_sql('select * from central_tax1 LEFT JOIN mean_2019_exr_by_country ON central_tax1.country = mean_2019_exr_by_country.country',engine)

In [39]:
central_tax.at[37, 'exchange_rate'] = 1
central_tax.at[37, 'country'] = 'united states'
#central_tax = central_tax.drop(35)

In [33]:
cols = [col for col in central_tax.columns if 'threshold' in col]
cols.append('tax_credit')
cols.append('personal_allowance')
central_tax[cols] = central_tax[cols].divide(central_tax['exchange_rate'], axis = 'index')

In [43]:
central_tax = central_tax.T.drop_duplicates().T

In [44]:
central_tax.to_sql('central_tax_usd', con = engine,if_exists='replace')

37

In [46]:
stlcl_flat = pd.read_sql('select * from stlcl_flat_tax1 LEFT JOIN mean_2019_exr_by_country ON stlcl_flat_tax1.country = mean_2019_exr_by_country.country',engine)

In [53]:
stlcl_flat.at[2,'exchange_rate']= .894
stlcl_flat.at[7,'exchange_rate']= 9.415250
stlcl_flat.at[8, 'exchange_rate'] = 1

In [54]:
stlcl_flat

,country,rep_rate,personal_allowance,tax_credit,country,currency,exchange_rate
0,denmark,24.93,NaN,NaN,denmark,krone,6.67775
1,finland,19.88,6875.0,NaN,finland,euro,0.89400
2,iceland,14.44,NaN,NaN,None,None,0.89400
3,italy,3.33,NaN,NaN,italy,euro,0.89400
4,japan,10.00,330000.0,NaN,japan,yen,108.76000
5,korea,10.00,NaN,NaN,korea,won,1160.35000
6,norway,14.15,NaN,NaN,norway,krone,9.11625
7,sweden,32.19,NaN,NaN,None,None,9.41525
8,united states,2.40,600.0,31.7628,None,None,1.00000

In [56]:
cols = ['personal_allowance', 'tax_credit']
stlcl_flat[cols] = stlcl_flat[cols].divide(stlcl_flat['exchange_rate'], axis = 'index')

In [66]:
stlcl_flat = stlcl_flat.loc[:,~stlcl_flat.columns.duplicated()].copy()

In [67]:
stlcl_flat.to_sql('stlcl_tax_flat_usd', engine)

9

In [69]:
stlcl_marg = pd.read_sql('select * from stlcl_marginal_tax1 LEFT JOIN mean_2019_exr_by_country ON stlcl_marginal_tax1.country = mean_2019_exr_by_country.country', engine)

In [73]:
cols = [col for col in stlcl_marg.columns if 'threshold' in col]
stlcl_marg[cols] = stlcl_marg[cols].divide(stlcl_marg['exchange_rate'], axis = 'index')

In [76]:
stlcl_marg = stlcl_marg.loc[:,~stlcl_marg.columns.duplicated()].copy()

In [77]:
stlcl_marg.to_sql('stlcl_marg_usd', engine)

4